<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- <add name="SiteMirus" connectionString="Data Source=WebLocator;Initial Catalog=Aristeia;Persist Security Info=True;User ID=sa;Password=Aristeia;Pooling=True;Max Pool Size=100;Application Name=SiteMirus" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="SiteMirus" connectionString="Data Source=10.50.2.16;Initial Catalog=Aristeia;Persist Security Info=True;User ID=sa;Password=Aristeia;Pooling=True;Max Pool Size=100;Application Name=SiteMirus" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="SiteMirus" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=blog;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="default.aspx"/>-->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <authorization>
      <allow users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Url" type="Url"/>
    </modules>
  </system.webServer>
</configuration>